<nav id="hnav">
    <div class="logo">
       <label for="logo-text"><h1 id="logo-text">IEmileDev</h1></label>
    </div>
    <div class="navigation">
       <ul>
           <li><a href="#home">Home</a></li>
           <li><a href="services">Services</a></li>
           <li><a href="about">About</a></li>
           <li><a href="projects">Projects</a></li>
           <li><a href="contacts">Contact</a></li>
       </ul>
    </div>   
</nav>