<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/facon.ico" type="image/x-icon">
    <!-- External CDN -->








    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Pridi:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="css/index.css">
    <title>IEmileDev</title>
</head>
<body>
    <header>
        <nav id="hnav">
             <div class="logo">
                <label for="logo-text"><h1 id="logo-text">IEmileDev</h1></label>
             </div>
             <div class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
             </div>   
        </nav>
        <section class="body">
            <div class="description">
                <h1>IEmile Code Factory</h1>
                <p>
                    Join us to realise your Dream and reach the skyies with our internet innovating idears and pakages. Now on IEmileDev
                </p>
                <div class="medialink">
                    <ul>
                        <li><a href=""><i class="bi bi-diagram-3-fill"></i></a></li>
                        <li><a href=""><i class="bi bi-twitter"></i></a></li>
                        <li><a href=""><i class="bi bi-linkedin"></i></a></li>
                        <li><a href=""><i class="bi bi-github"></i></a></li>
                    </ul>
                </div>                    
            </div>
            <div class="illistraction">
                <div class="img1"><img src="assets/web.svg" alt=""></div> 
                <div class="img2"><img src="assets/devices.svg" alt=""></div> 
                <div class="img3"><img src="assets/office.svg" alt=""></div> 
            </div>
        </section>
    </header>

    <main>
        <div class="techpage">
            <h3>New and improved tech</h3>
            <div class="animation">
            ddd
            </div>  
        </div>

        

    </main>
    <footer>
        d
    </footer>
</body>
</html>