

                                              /* haer styles  */

                                    
.body .description{
    position: relative;
}
.body{
    display: flex;
    padding-left: 10%;
}
.body .description{
    height: 300px;
    display: flex;
    flex-direction: column;
}
.body .description h1{
    font-family: Raleway;
    font-weight: 900;
    font-size: 3.2rem;
    padding-top: 70px;
    padding-bottom: 20px;
    /* color: background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);;  background: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);  */
    color: #8c44ad;
}
.body .description p{
    font-size: 18px;
    font-family: Raleway;
    font-weight: 200;
    max-width: 400px;
}
.body .medialink {
    margin-top: auto;
}
.body .medialink ul{
    display: flex;
    font-size: 12px;
}
.body .medialink ul li a{
    color: white;
}
.body .medialink ul li{
    padding: 10px;
    border-radius: 6px;
    margin: 3px;
    background: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);;
}
.body .medialink ul li:hover{
    background: rgb(3, 77, 3);
}
.body .illistraction{
    position: relative;
}

.body .img1{
    width: 400px;
    position: absolute;
    left: 300px;
    z-index: 100;
}
.body .img2{
    width: 400px;
    z-index: 999;
}
.body .img3{
    width: 400px;
    position: absolute;
    left: 40%;
    top: 250px;
    z-index: -444;
}
                                          

                                                            /* main dody style  */


main{
    padding-left: 10%;
}

main .techpage{
    margin-top: 30px;
}
main .techpage h3{
    padding: 5px;
    font-family: Asap;
    font-size: 20px;
    font-weight: 300;
    color: #414104;
    font-style: italic;
    text-shadow: #FFED46 2px 3px 20px;
}
main .animation{
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.893);
    border: 3px solid black;
    box-shadow: black 4px 0px 6px 2px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}